:root {

    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);

    --White: hsl(0, 0%, 100%);
    --Slate100: hsl(202, 86%, 94%);
    --Slate300: hsl(203, 41%, 72%);
    --Slate500: hsl(200, 26%, 54%);
    --Slate700: hsl(200, 24%, 40%);
    --Slate900: hsl(202, 55%, 16%);
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--Slate100);
  font-family: "Plus Jakarta Sans", sans-serif;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 850px;
  height: 500px;
  background-color: var(--White);
  border-radius: 1em;
}
.mortgage-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 2em; */
  /* border-radius: 0 0 0 30px; */
  border-radius: 1em 1em 1em 4em;
  background-color: var(--Slate900);
  color: var(--White);
}
.mortgage-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* font-size: 12px; */
  width: 80%;

}
/* .mortgage-form{
  margin: 10px;
} */
 h5{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.mortgage-form input{
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: 1px solid var(--Slate500);
}
.mortgage-form button{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--Slate500);
  background-color: var(--Slate500);
  color: var(--White);
  font-weight: bold;
}

.term-icon{
  display: flex;
  background-color: var(--Slate100);
  width: 25%;
  justify-content: center;
  font-weight: var(--fw-bold);
  color: var(--clr-Slate-700);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}
.icon {
  display: flex;
  align-items: center;
}

.results-title{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
  /* font-size: 12px; */
  width: 100%;
  margin: 0%;
}

.rates{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 90px;
}
.rates-placeholder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.radio{
  margin-left: 30px;
}
.rates-first{
  display: flex;
  flex-direction: row;
}
.radio-buttons{
  display: flex;
  align-items: center;
  border: 1px solid var(--Slate500);
  height: 2.5rem;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.interest{
  display: flex;
  align-items: center;
  border: 1px solid var(--Slate500);
  height: 2.5rem;
  border-radius: 5px;
}
.interest label {
  font-weight: var(--fw-bold);
  color: var(--clr-Slate-900);
  margin: 0;
}

input[type="radio"] {
  margin-right: 1rem;
  width: 1.2em;
  height: 1.2rem;
  accent-color: var(--clr-lime);
}